<div class="container">
  <div class="row">
    <div class="col-md-12">

    </div>
  </div>   
      <h3>Upload de planilha de excel</h3>  
      <div class="form-group"> 

        <label>Arquivo</label>
        <input type="file" class="form-control" (change)="onUpload($event)">           
    </div>  
    
  <div class="row mt-4">  
    <table class="table table-striped">  
      <tr>    
        <td>Data de entrega</td>  
        <td>Produto</td>  
        <td>Quantidade</td>  
        <td>Valor unitário</td>  
      </tr>  
      <tr *ngFor="let d of data">  
        <td>{{d.DeliveryDate}}</td>  
        <td>{{d.Name}}</td>  
        <td>{{d.Quantity}}</td>  
        <td>{{d.PriceUnit}}</td>
      </tr>  
    </table>  
  </div>     
</div> 